/* PasswordStrength.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .inputField {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect the overall width */
  }
  
  .strengthMeter {
    display: block;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #ddd;
  }
  
  /* Based on the zxcvbn score, we will apply different colors to the strengthMeter */
  .strengthMeter.weak {
    background-color: #ff3e36;
  }
  
  .strengthMeter.fair {
    background-color: #f7b500;
  }
  
  .strengthMeter.good {
    background-color: #2b90ef;
  }
  
  .strengthMeter.strong {
    background-color: #12cc12;
  }
  
  .strengthText {
    margin-top: 5px;
  }
  